.addButton {
  background-color: darkorange;
  border-radius: 7px;
  cursor: pointer;
  padding: 5px 0 ;
  margin: 5px 0;
  text-align: center;
  width: 300px;
}

.description {
  width: 300px;
}

.collapsibleHead {
  border-radius: 7px;
  padding: 5px 0 !important;
  text-align: center !important;
  width: 300px !important;
}

.collapsibleContent {
  padding: 0 5px !important;
  text-align: left;
  width: 290px;
}

.imageCSS {
  max-Width: 300px;
  width: 100%;
}

.Product {
  width: 100%;
}