.addButton {
  background-color: darkorange;
  border-radius: 7px;
  cursor: pointer;
  padding: 5px 0 ;
  margin: 5px 0;
  text-align: center;
  width: 300px;
}

.description {
  width: 300px;
}

.collapsibleHead {
  border-radius: 7px;
  padding: 5px 0;
  text-align: center;
  width: 300px;
}

.collapsibleContent {
  padding: 5px ;
  text-align: left;
  width: 100%;
}

.imageCSS {
  max-Width: 300px;
  width: 100%;
}

.Product {
  width: 100%;
}