.container {
    text-align: -webkit-center;
}

.MenuContainer {
    padding: 5px;
    display: inline;
    width: 100%;
}

.Image1 {
    left: -70px;
    position: relative;
    display: inline;
    vertical-align: middle;
    width: 30px;
}

.Image2 {
    left: 50px;
    position: relative;
    display: inline;
    vertical-align: middle;
    width: 30px;
}

.Image3 {
    left: 60px;
    position: relative;
    display: inline;
    vertical-align: middle;
    width: 30px;
}

.Title {
    color: white;
    vertical-align: middle;
    font-size: large;
    width: 100%;
}