.container {
    margin: 2px 7px 7px 7px;
    text-align: -webkit-center;
}

.textContainer {
    background-color: white;
}
.input {
    display: inline;
    border-width: 0px;
    outline-color: white;
    padding-left: 25px;
    vertical-align: middle;
    width: 85%;
}

.img {
    display: inline;
    left: 15px;
    position: absolute;
    top: 59px;
    width: 20px;
}