.App {
  text-align: center;
  font-family: 'AraJozoor-Regular',Sans-Serif;
  width: 100%;
}

.App-Container{
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row-reverse wrap;
}

.App-DatePicker{
  font-size: smaller;
  text-align: center;
  padding: 10px;
}

.App-block{
  flex: 1;
  margin: 10px;
}

.App-header {
  background-color: #123;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .5);
  font-family: 'AraJozoor-Regular',Sans-Serif;
  text-align: center;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.App-body {
  text-align: center;
  font-family: 'droid-arabic-naskh';
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: black;
  padding: 10px;
  margin-top: 90px;
}

.App-link {
  color: #61dafb;
}

.BlackBackground{
  filter: brightness(30%);
}

.disabledbutton {
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer{
  flex: 1;
  font-size: smaller;
  text-align: center;
  font-family: droid-arabic-naskh;
}

.copyright {
  margin: 5px;
  font-family: 'Verdana, Geneva, sans-serif';
  font-size:12px;
  font-weight:bold;
  direction:ltr;
}