.Basket {
    background-color: white;
    border-radius: 4px;
    opacity: 1;
    height: 300px;
    overflow: scroll;
    margin-top: 25px;
    width: 90%;
}

.BasketCancelation {
    background-color: black;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: 5px 0 20px 0;
    text-align: center;
    width: 70%;
}
.BasketCheck {
    background-color: #34afc7;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    text-align: center;
    width: 70%;
}

.BasketContainer {
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 100%;
}

.BasketCounter {
    display: inline-flex;
    height: 50%;
}

.BasketItem {
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 100%;
}

.BasketItemImage {
    height: 100px;
}

.BasketImage {
    height: 100px;
    width: 150px;
}

.BasketOperation {
    background-color: #123;
    border-radius: 50px;
    color: white;
    width: 20px;
}

.BasketCount {
    width: 20px;
}