.Basket {
    background-color: white;
    border-radius: 4px;
    height: 400px;
    margin-top: 25px;
    opacity: 1;
    overflow: scroll;
    padding-top: 10px;
    width: 90%;
}

.BasketCancelation {
    background-color: black;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: 5px 0 20px 0;
    text-align: center;
    width: 70%;
}
.BasketCheck {
    background-color: #34afc7;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    text-align: center;
    width: 70%;
}

.BasketContainer {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
}


.BasketCount {
    width: 20px;
}

.BasketCounter {
    display: inline-flex;
    height: 50%;
}

.BasketItem {
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 100%;
}

.BasketItemImage {
    height: 80px;
}

.BasketItemPrice {
    color: #58696a;
    margin-left: 15px;
}

.BasketImage {
    height: 100px;
    width: 125px;
}

.BasketTotalPrice {
    display: inline-flex;
    font-size: larger;
    font-variant: petite-caps;
}

.BasketOperation {
    background-color: #123;
    border-radius: 50px;
    color: white;
    width: 20px;
}

.TotalPrice {
    margin-left: 15px;
    color: red;
}